<?xml version="1.0" encoding="UTF-8"?> 
<application xmlns="http://ns.adobe.com/air/application/2.7"> 
    <id>org.pinf.loader-js.demos.AdobeAir.app</id> 
    <versionNumber>0.1</versionNumber> 
    <filename>AdobeAirPINFDemo</filename> 
    <initialWindow> 
        <content>bootstrap.html</content> 
        <visible>true</visible> 
        <width>400</width> 
        <height>200</height> 
    </initialWindow> 
</application>